---
---

@import "{{ site.theme }}";

header {
    background: #E4DAF1 0 0 repeat-x;
}

#main-content h2:before {
    content: "//";
    color: #c6a782;
}

#content-wrapper {
    border-top: solid 1px rgb(221, 181, 220);
}

header h1 {
    width:auto;
}

header h2 {
    width:auto;
    color: #94877f;
}

#main-content h3:before {
    content: "///";
    color: #94877f;
}

header a.button {
    display: block !important;
    text-align: left;
    top:auto;
    bottom: auto;
    position:relative;
    margin-top:1rem;


}
@media only screen and (max-width: 767px) {
header a.button {
    width: fit-content;
}
}


